html, body {
    height: 100%;
}

body {
    display: flex; 
    flex-direction: column; /* to stack the main and footer elements on top of each other */
    margin: 0;
    background-color: #fff;
    font-family: Lato, sans-serif;
    color: #222;
    font-size: 0.9em;
}

main {
    flex: 1 0 auto;
    display: flex;
}

footer {
    flex: 0 0 90px;
    padding: 10px;
    color: #fff;
    background-color: rgba(61, 100, 158, .9); 
}

aside {
    flex: 0 0 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f2f2f2;
}

aside i.fa {
    font-size: 1.1em;;
}

.content {
    flex: 1 0 auto;
}